<header>
    <h1><a href="/">Nabil Hachicha</a></h1>
    
    <!--<p class="view"><a href="/projects.html">Open Source Projects<small>Code that Might be Useful to You</small></a></p>
    <p class="view"><a href="/speaking.html">Talks I've Given<small>/include link to slide deck</small></a></p>!-->
    <h3>Follow Me On</h3>
    <p class="view"><a href="https://github.com/nhachicha" target="tab"><i class="fa fa-github"></i>&nbsp;GitHub</a></li>
    <p class="view"><a href="https://twitter.com/nabil_hachicha" target="tab"><i class="fa fa-twitter"></i>&nbsp;Twitter</a></li>
    <p class="view"><a href="https://plus.google.com/110610526826489061446" target="tab"><i class="fa fa-google-plus-square"></i>&nbsp;G+</a></li>
    <p class="view"><a href="http://nhachicha.wordpress.com/" target="tab"><i class="fa fa-wordpress"></i>&nbsp;Blog</a></li>
    <p class="view"><a href="https://www.linkedin.com/pub/nabil-hachicha/52/a80/829" target="tab"><i class="fa fa-linkedin-square"></i>&nbsp;LinkedIn</a></li>
    

</header>
